*.egg-info
*.mo
*.pyc
*.pyo
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
eggs
.Python
local.cfg
pip-selfcheck.json
lib/
include/python*
src/plone.*
