.installed.cfg
.mr.developer.cfg
bin/
develop-eggs/
eggs/
include/
lib/
local/
parts/
pip-selfcheck.json
src/plone.app.contentlisting/
src/plone.importexport.egg-info/
src/plone.rest/
src/plone.restapi/
local*
share/*
src/plone/importexport/browser/dump/*
*.pyc
*.swp
var/*
.Python
.ropeproject/
.tox/
.python-version
.coverage
.coverage*
coverage.xml
htmlcov/
reports/
